.productCard {
  width: 280px;
  height: 500px;
  margin: 0 0 10px 8px;
  box-shadow: 1px 2px 6px lightgrey;

  .card-main {
    height: 100%;

    .card-content {
      height: 400px;
    }

    .card-image{
      width: 230px;
      height: 230px;
      object-fit: contain;
      margin: 0 auto;
      padding-top: 10px;
    }

    .card-title {
      font-size: 16px;
      margin-bottom: 2px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      color: #ac2f2f;
    }

    .card-description{
      font-size: 14px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: #494848;
    }

    .btn-price-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      .price {
        margin-right: 50px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #ac2f2f;
      }
    }

  }

}
