.footer-container {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 10px;
  .footer-content {
    background: #8e7249;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  p {
    margin-bottom: 10px;
    font-size: 20px;
  }
    .footer-icons-wrap {
      margin-bottom: 20px;
      display: flex;
      gap: 10px;
      font-size: 25px;
      text-decoration: none;

      .footer-icons {
        color: black;
        &:hover {
          color: #b1af22;
          cursor: pointer;
        }
      }


    }
  }

}